<configuration xmlns="http://logging.apache.org/log4php/">
 
    <appender name="myConsoleAppender" class="LoggerAppenderConsole" />
    
    <appender name="myFileAppender" class="LoggerAppenderFile">
        <layout class="LoggerLayoutPattern">
            <param name="conversionPattern" value="%date [%logger] %message%newline" />
        </layout>
        <param name="file" value="test.log" />
    </appender>
 
    <root>
        <level value="TRACE" />
        <appender_ref ref="myFileAppender" />
    </root>
</configuration>